@page
@using Kendo.Mvc.UI
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()
@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ScanApp.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Statistics";
}

<div class="cards-container" align="center">
    <div class="row">
        <div class="column">
            <div class="k-card">
                <div class="k-card-header">
                    <span class="k-card-title">I alt</span>
                </div>
                <div class="k-card-body">
                    <div style="font-size: 84px; line-height: 101px; color: #F31700;">@Model.Scans.Last().ExTotal</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="k-card">
                <div class="k-card-header">
                    <span class="k-card-title">Siden sidste scan</span>
                </div>
                <div class="k-card-body">
                    <div style="font-size: 84px; line-height: 101px; color: #FFC000;">@Model.Scans.Last().ExSinceLastScan</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="k-card">
                <div class="k-card-header">
                    <span class="k-card-title">Sidste 24h</span>
                </div>
                <div class="k-card-body">
                    <div style="font-size: 84px; line-height: 101px; color: #37B400;">@Model.Scans.Last().ExLast24H</div>
                </div>
            </div>
        </div>
    </div>
</div>
<h6 align="center">Scans i alt: @Model.Scans.Count()</h6>
<h6 align="center">Sidste scan: @Model.Scans.Last().Date</h6>

<div class="demo-section k-content wide">
    @(Html.Kendo().Chart()
                .Name("chart")
                .Title("Exceptions \n /latest scans/")
                .Legend(legend => legend
                    .Visible(false)
                )
                .ChartArea(chartArea => chartArea
                    .Background("transparent")
                )
                .Series(series =>
                {
                    series.Bar(
                        Model.ChartTotals().ToArray())
                    .Name("Total Exceptions");
                })
                .CategoryAxis(axis => axis
                    .Categories(@Model.ChartDates().ToArray())
                    .MajorGridLines(lines => lines.Visible(false))
                    .Name("Scan date")
                )
        .ValueAxis(axis => axis
            .Numeric()
            .Max(10000)
            .Line(line => line.Visible(false))
            .MajorGridLines(lines => lines.Visible(true))
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= series.name #: #= value #")
        )
    )
</div>
<style>

    * {
        box-sizing: border-box;
    }
    /* Float four columns side by side */
    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }
    /* Remove extra left and right margins, due to padding in columns */
    .row {
        margin: 0 -5px;
        margin-top: 100px;
        margin-left: 275px;
        margin-bottom:50px;
    }
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
    }

    .k-tilelayout-item-body.k-card-body:nth-child(-n+4) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #dashboard-tilelayout .k-card-header {
        border-style: none;
    }

    .k-rating-item.k-state-selected {
        color: #FFA600;
    }

    .k-card-title {
        font-size: 20px;
        text-align:center;
    }

</style>
